.env
.DS_Store
node_modules/

# Ignore everything in data folders except .gitkeep files
public/data/days/*
!public/data/days/.gitkeep

public/data/interactions/*
!public/data/interactions/.gitkeep



public/data/
