.env
.DS_Store

# Ignore everything in data folders except .gitkeep files
node_modules/
public/data/days/*
!public/data/days/.gitkeep

public/data/interactions/*
!public/data/interactions/.gitkeep



public/data/
